<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>

    <% @lenders.each do |lender| %>
      <tr>
        <td><%= lender.first_name__c %></td>
        <td><%= lender.last_name__c %></td>
        <td><%= lender.email__c %></td>
      </tr>
    <% end %>
  </table>

</div>
